<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav class="navbar navbar-light bg-light">
      <div class="float-left">
        <%= link_to (image_tag "icons8-reading-64.png", :size => "50x50"), "index" %>
      </div>
      <div class="float-right">
        <ul class="nav">
          <li class="nav-item pr-4"><%= link_to "紹介", "/home/about" %></li>
          <li class="nav-item pr-4"><%= link_to "ブログ", "" %></li>
          <li class="nav-item pr-4"><%= link_to "連絡先", "/home/contact" %></li>
        </ul>
      </div>
    </nav>
  </header>

  <%= yield %>
</body>
</html>
